{% extends 'base.html' %}
{% load static %}

        {% block title %}Receipts{% endblock %}

        {% block content %}
              <div class="container">
              <h1>All Receipts</h1>
              <div class="row">
                    <div class="col">
                        <table class="table class=table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Store</th>
                              <th scope="col">Date</th>
                                <th scope="col">Total</th>
                                <th scope="col">Details</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for receipt in receipts %}
                            <tr>
                                <td>{{ receipt.vendor.name }}</td>
                                <td>{{ receipt.date }}</td>
                                <td>{{ receipt.total_price }}</td>
                                <td><a href="{{ receipt.id }}">Details</a></td>
                            </tr>
                          {% endfor%}
                          </tbody>
                        </table>
                    </div>
                </div>
              </div>
        {% endblock %}