{% extends 'base.html' %}
{% load static %}
        {% block title %}Reports{% endblock %}

        {% block content %}

            <div class="container">
                    <div class="row">
                        <div class="col">
                            <h1>Reports</h1>
                        </div>
                    </div>

                <div class="row">
                        <div class="col-6">
                               <img src="/media/barchart.png" />
                        </div>
                        <div class="col-6">
                               <img src="/media/barchart2.png" />
                        </div>
                    </div>
                </div>

        {% endblock %}